/*Estilos del contenedor general*/
.gameboy {
    position: relative;
    display: block;
    margin: 1.25em auto;
    width:28.5em;
    height: 43.5em;
    background: #e8e8e8;
    border-radius: 0.6em 0.6em 3.75em 0.6em;
    box-shadow:0.3em 0.3em rgba(0,0,0,0.1);
}

/*Estilos generales del contenedor parte de arriba  (pantalla) */
 .gameboy .pantalla-cont {
    position: relative;
    top: 3.75em;
    left: 3em;
    width: 21.4em;
    height: 17em;
    margin-bottom: 3.6em;
    background-color:#685b70 ;
    border-radius: 0.8em 0.8em 3.2em 0.8em;
 }
 /*Estilos para la luz*/
 .gameboy .pantalla-cont .luz {
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    top:6.25em;
    left: 1.25em;
    border-radius: 100%;
    background-color: #d15454;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.gameboy .pantalla-cont .luz .batery{
    font-size:10px;
    text-align: justify;
    margin-top:2px;
}

/*Estilos para la pantalla interior*/
.gameboy .pantalla-cont .pantalla-interior {
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: ;
    width: 14em;
    height: 12.8em;
    box-shadow: inset 0.2em 0.2em rgba(0,0,0,0.15);
}
.gameboy .pantalla-cont .pantalla-interior .foto{
    width: 14em;
    height: 12.8em;
}
/*contenedor de los botones-general*/
 .gameboy .controles-cont {
    display: block;
    position: relative;
    margin-top: 5.6em;
}

/*Contenedor de la cruz*/
.gameboy .controles-cont .btn-direction {
    position: relative;
    margin-left: 2.5em;
    top: 3.75em;
}

/*Estilos para formar la cruz*/
.gameboy .controles-cont .btn-direction .vertical {
    position: absolute;
    left:1.8em ;
    width: 1.8em;
    height: 5.6em;
    background: #444;
    border-radius:0.3em;
}

.gameboy .controles-cont .btn-direction .horizontal {
    position: absolute;
    left: 1.8em;
    width: 1.8em;
    height: 5.6em;
    background: #444;
    border-radius: 0.3em;
    transform: rotate(90deg);
}

 /*Estilos para el boton diagonal*/   
.gameboy .controles-cont .btn-AB {
    position: absolute;
    top: 4.5em;
    left: 15.16em;
    width: 8.1em;
    height: 3.75em;
    background: #e2e2e2;
    border-radius: 1.8em;
    -webkit-transform: rotate(-25deg)
}
.gameboy .controles-cont .btn-AB .botn-redondos1{
    position: relative;
    top:7px;
    left:7px;
    width: 3em;
    height: 3em;
    background-color: red;
    border-radius: 50%;
    box-shadow: 3.5em 1.6em red, 0 0 0 0.3em #dfdfdf, 3.6em 1.7em 0 0.313em #dfdfdf;
    -webkit-transform: rotate(-25deg);
}

   
/*Estilos para el boton select*/
.gameboy .controles-cont .btn-star-select {
    position: absolute;
    top: 13em;
    left: 8.75em;
    height: 0.75em;
    width: 60px;
    background: #999;
    border-radius: 0.6em;
    -webkit-transform: rotate(-25deg);
    box-shadow: 3.5em 1.6em #999, 0 0 0 0.3em #dfdfdf, 3.6em 1.7em 0 0.313em #dfdfdf;
}

/*Estilos para el altavoz*/
.gameboy .altavoz {
    position: relative;
    height:4.3em;
    width: 0.5em;
    top: 16.20em;
    left:18.75em ;
    background: #767c77;
    border-radius: 0.25em;
    -webkit-transform: rotate(-25deg);
    box-shadow: 1.25em 0 #767c77, 2.5em 0 #767c77, 3.75em 0 #767c77, 5em 0 #767c77, 6.25em 0 #767c77;
}

/*Estilos boton cargador*/
.cargador {
    position: absolute;
    bottom: 1.5em;
    left: 50%;
    padding: 0.2em 0.3em;
    transform: translateX(-50%);
    background-color: #afaaaa;
    border-radius: 1.9em;
}